<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <form action="<%= baseUrl %>/forgot"
        method="post">

    <h1>Forgot your username or password?</h1>
    <p>Enter your email address and we'll send you your username and a link to reset your password.</p>

    <div class="row">
      <div class="col">

        <div>
          <label for="user_email">Email Address</label>
          <br>
          <input type="user_email"
                 id="user_email"
                 name="user_email"
                 placeholder="example@domain.com"
                 data-error-message=" Email format is not valid."
                 required
                 autofocus>
        </div>

        <div>
          <button type="button"
                  onclick="window.history.back(-1)">Back</button>
          <button type="submit"
                  id="send_email"
                  disabled>Send email</button>
        </div>

      </div><!-- col -->
    </div><!-- row -->

  </form>

  <!-- SCRIPTS -->
  <script src="assets/js/index.js"></script>
  <script src="assets/js/forgot.js"></script>

</body>

</html>