<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <form action="<%= baseUrl %>/signup"
        method="post">

    <h1>Signup</h1>

    <div class="row">

      <div class="col">

        <div>
          <label for="user_login">username <small>(*required)</small></label>
          <br>
          <input type="text"
                 id="user_login"
                 name="user_login"
                 placeholder="username"
                 required>
        </div>

        <div>
          <label for="user_pass">password <small>(*required)</small></label>
          <br>
          <input type="password"
                 id="user_pass"
                 name="user_pass"
                 placeholder="password"
                 required>
        </div>

        <div>
          <label for="confirm_user_pass">confirm password <small>(*required)</small></label>
          <br>
          <input type="password"
                 id="confirm_user_pass"
                 placeholder="password"
                 required>
        </div>

        <div>
          <label for="user_email">email</label>
          <br>
          <input type="user_email"
                 id="user_email"
                 name="user_email"
                 placeholder="email@example.com">
        </div>

        <div>
          <label for="user_phone">phone</label>
          <br>
          <input type="text"
                 id="user_phone"
                 name="user_phone"
                 placeholder="000-0000-0000">
        </div>

        <div>
          <label for="roadAddress">address</label>
          <br>
          <input type="text"
                 name="postcode"
                 id="postcode"
                 placeholder="우편번호"
                 readonly>
          <button type="button"
                  onclick="execDaumPostcode()">우편번호 찾기</button>
          <br>
          <input type="hidden"
                 name="address"
                 id="address">
          <input type="text"
                 id="roadAddress"
                 placeholder="주소"
                 readonly>
          <br>
          <input type="text"
                 id="detailAddress"
                 placeholder="상세주소">
          <input type="text"
                 id="extraAddress"
                 placeholder="참고항목"
                 readonly></td>
        </div>

        <div>
          <label for="privacy-policy-content">privacy policy <small>(*required)</small></label>
          <br>
          <textarea id="privacy-policy-content"
                    cols="30"
                    rows="5"><%= policies.privacyPolicy %></textarea>
          <br>
          <label for="privacy-policy">Do you agree to the <a href="/privacy-policy"
               target="_blank">privacy policy</a>?</label>
          <input type="checkbox"
                 id="privacy-policy"
                 name="privacy-policy"
                 required>
        </div>

        <% if (isError === true) { %>
        <div>
          <%= errmsg %>
        </div>
        <% } %>

        <div>
          <button type="button"
                  onclick="window.history.back(-1)">Back</button>
          <button type="reset">Reset</button>
          <button type="submit">Submit</button>
        </div>

      </div><!-- col -->

      <div class="col">

        <div>
          <div id="postWrap"
               style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
            <img src="//t1.daumcdn.net/postcode/resource/images/close.png"
                 id="btnFoldWrap"
                 style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1"
                 onclick="foldDaumPostcode()"
                 alt="접기 버튼">
          </div>
        </div>

      </div><!-- col -->

    </div><!-- row -->

  </form>

  <!-- 
    다음 우편번호 서비스
    http://postcode.map.daum.net/guide 
  -->
  <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script>
    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('postWrap');

    function foldDaumPostcode() {
      // iframe을 넣은 element를 안보이게 한다.
      element_wrap.style.display = 'none';
    }

    function execDaumPostcode() {
      // 현재 scroll 위치를 저장해놓는다.
      var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
      new daum.Postcode({
        oncomplete: function (data) {
          // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

          // 각 주소의 노출 규칙에 따라 주소를 조합한다.
          // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
          var addr = ''; // 주소 변수
          var extraAddr = ''; // 참고항목 변수

          //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
          if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
            addr = data.roadAddress;
          } else { // 사용자가 지번 주소를 선택했을 경우(J)
            addr = data.jibunAddress;
          }

          // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
          if (data.userSelectedType === 'R') {
            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
              extraAddr += data.bname;
            }
            // 건물명이 있고, 공동주택일 경우 추가한다.
            if (data.buildingName !== '' && data.apartment === 'Y') {
              extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
            }
            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
            if (extraAddr !== '') {
              extraAddr = ' (' + extraAddr + ')';
            }
            // 조합된 참고항목을 해당 필드에 넣는다.
            document.getElementById("extraAddress").value = extraAddr;

          } else {
            document.getElementById("extraAddress").value = '';
          }

          // 우편번호와 주소 정보를 해당 필드에 넣는다.
          document.getElementById('postcode').value = data.zonecode;
          document.getElementById("roadAddress").value = addr;
          // 커서를 상세주소 필드로 이동한다.
          document.getElementById("detailAddress").focus();

          // iframe을 넣은 element를 안보이게 한다.
          // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
          element_wrap.style.display = 'none';

          // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
          document.body.scrollTop = currentScroll;
        },
        // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
        onresize: function (size) {
          element_wrap.style.height = size.height + 'px';
        },
        width: '100%',
        height: '100%'
      }).embed(element_wrap);

      // iframe을 넣은 element를 보이게 한다.
      element_wrap.style.display = 'block';
    }
  </script>

</body>

</html>